name: Examples

on: push

jobs:
  camping:
    runs-on: ubuntu-latest
    name: Camping example
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: '3.2'
        working-directory: examples/camping
    - run: bundle exec parklife build
      working-directory: examples/camping
    - run: test -f build/index.html
      working-directory: examples/camping

  rack:
    runs-on: ubuntu-latest
    name: Rack example
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: '2.7'
        working-directory: examples/rack
    - run: bundle exec parklife build
      working-directory: examples/rack
    - run: test -f build/index.html
      working-directory: examples/rack

  roda:
    runs-on: ubuntu-latest
    name: Roda example
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: '3.2'
        working-directory: examples/roda
    - run: bundle exec parklife build
      working-directory: examples/roda
    - run: test -f build/index.html
      working-directory: examples/roda
